html(lang="en")
    include pugjs/_head.pug
    - let adkharClass = "active"
    body
        .page 
            include pugjs/_slider.pug
            .content 
                .box-adkhar 
                .box-dikr 
        script(src="js/main.js") 