html(lang="en")
    include pugjs/_head.pug
    - let moshafEnClass = "active"
    body
        .page 
            include pugjs/_slider.pug
            .content 
                .box-sowar
                .box-sora 
                    .name-sora 
                        h2 sora Al-fatiha
                        h2 سورة الفاتحة
                        h2 mekkeia
                        h2 الفاتحة
                    .textSora 
                        h2  الحمد الله رب العالمين الرحمن الرحيم ملك يوم الدين اياك نعبد واياك نستعين اهدنا الصراط المستقيم صراط الذين انعمت عليهم غير المغضوب عليهم والضالين امين
        script(src="js/main.js") 